Package: mysyslog-meta
Version: 1.0
Section: metapackages
Priority: optional
Architecture: amd64
Depends: libmysyslog, libmysyslog-text, libmysyslog-json, mysyslog-client, mysyslog-daemon
Maintainer: AACnotAlive <mrlenorgenri@gmail.com>
Description: Metapackage for installing all mysyslog components
 This package is a metapackage that installs all components
 of the mysyslog system, including libraries, client, and daemon.
